{% extends "admin/base_site.html" %}

{% block content %}
<form method="post" action="{{ request.path }}">
  {% csrf_token %}
  <input type="hidden" name="action" value="{{ action_name }}">
  {% for obj in queryset %}
    <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk }}">
  {% endfor %}

  <fieldset class="module aligned">
    <div class="form-row">
      <label for="id_reason">Reason:</label>
      <textarea id="id_reason" name="reason" rows="5" required></textarea>
    </div>
  </fieldset>

  <div class="submit-row">
    <input type="submit" name="apply" value="Reject selected print requests">
  </div>
</form>
{% endblock %}
